body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: slategray;
	color: white;
	padding: 10px;
}

header h1 {
	margin: 0;
	font-size: 36px;
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
}

.recipe-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.recipe-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	border-radius: 10px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	overflow: hidden;
}

.recipe-item img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
}

.recipe-item h2 {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	min-width: 200px;
}

.recipe-item p {
	margin: 0px;
	padding: 10px;
	color: #777;
}

.recipe-item a {
	background: slategray;
	color: white;
	border: none;
	min-width: 150px;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}

.recipe-item a:hover {
	background: #333;
}

a {
	color: white;
	text-decoration: none;
}

.footer {
	background: slategray;
	color: white;
	padding: 5px;
	text-align: center;
	margin: 0px;
	width: 100%;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	color: magenta;
}

@media screen and (max-width: 768px) {
	.recipe-item {
		flex-direction: column;
		/* flex-wrap: wrap; */
	}
	.recipe-item img {
		width: 45%;
		height: auto;
		margin-bottom: 10px;
	}
	.recipe-item h2 {
		text-align: center;
		font-size: 20px;
		padding: 0px;
		margin-bottom: 10px;
	}
	.recipe-item button {
		margin-top: 10px;
	}
}