body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: slategray;
	color: white;
	padding: 10px;
}

header h1 {
	margin: 0;
	font-size: 36px;
	text-align: center;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 20px;
}

.recipe-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.recipe-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 20px;
	background: white;
	border-radius: 10px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	overflow: hidden;
}

.recipe-item img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
}

.recipe-item h2 {
	margin: 0;
	padding: 10px;
	font-size: 20px;
	min-width: 200px;
}

.recipe-item p {
	margin: 0px;
	padding: 10px;
	color: #777;
}

button {
	background: slategray;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 10px;
}

button:hover {
	background: #333;
}

a {
	color: white;
	text-decoration: none;
}